<div class="w-100 h-100" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)">
  <app-dot *ngFor="let dot of dots" [dot]="dot"></app-dot>
</div>

<p class="instruction">Tap on the screen to create gravitationally active bodies.</p>

<app-timer></app-timer>

<button mat-mini-fab [color]="undefined" matTooltip="Source Code" class="github-button" (click)="onGithubClick()">
  <mat-icon svgIcon="github"></mat-icon>
</button>

<button mat-mini-fab [color]="undefined" matTooltip="My Linkedin" class="linkedin-button" (click)="onLinkedInClick()">
  <mat-icon svgIcon="linkedin"></mat-icon>
</button>

<button mat-fab color="primary" [matTooltip]="isPaused ? 'Play' : 'Pause'" class="play-button" (click)="onPlayClick()">
  <mat-icon>{{ isPaused ? 'play_arrow' : 'pause' }}</mat-icon>
</button>

<button mat-fab [color]="undefined" matTooltip="Reset" class="reset-button" (click)="onResetClick()">
  <mat-icon>restart_alt</mat-icon>
</button>
